<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <title>{{ if .Description }}{{ .Description }} - {{ end }}{{ .Title }}</title>
  </head>
  <body>
    <header>
        <h1>{{ .Title }}<img src="/images/logo.png" alt="Logo"></h1>
        <nav>
            {{ range .Site.Menus.main }}
                <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </nav>
    </header>
    <main>
        {{ .Content }}
    </main>
    <footer>
        <p id="contact">
            +34 654 062 239<br>
            <a href="mailto:js@similimum.info">js@similimum.info</a>
        </p>
        <p>
            Centro Orenda, Calle Senija 5, 03700 Dénia
        </p>
        <p>
            Calle Bonaire 28, 1a planta izquirda, 03790 Orba
        </p>
        <p>
            Ecosomnis, Plaça Sant Cristofor 6, 03750 Pedreguer
        </p>
    </footer>
  </body>
</html>
